Repository panteparak/db-provision-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, helm-lint

go-test:
  name: go test
  entry: bash -c 'go test $(go list ./... | grep -v /e2e) -short'
  language: system
  pass_filenames: false

helm-lint:
  name: helm lint
  entry: helm lint charts/db-provision-operator
  language: system
  pass_filenames: false

feat(e2e): add CockroachDB E2E tests and fix adapter issues
  .gitignore
  Makefile
  docker-compose.e2e.yml
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/database_test.go
  internal/adapter/cockroachdb/grant.go
  internal/adapter/cockroachdb/role.go
  internal/adapter/cockroachdb/user.go
  internal/controller/databasebackup_controller_unit_test.go
  internal/controller/databasegrant_controller_unit_test.go
  internal/controller/databaserole_controller_unit_test.go
  internal/features/backup/controller.go
  internal/features/database/controller.go
  internal/features/grant/controller.go
  internal/features/instance/controller.go
  internal/features/role/controller.go
  internal/features/user/controller.go
  internal/reconcileutil/requeue.go
  internal/reconcileutil/requeue_test.go
  internal/service/grant.go
  test/e2e/cockroachdb_test.go
  test/e2e/fixtures/cockroachdb-init/01-create-admin.sql
  test/e2e/fixtures/cockroachdb-local.yaml
  test/e2e/fixtures/mariadb-local.yaml
  test/e2e/fixtures/mysql-local.yaml
  test/e2e/fixtures/postgresql-local.yaml
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/testutil/cockroachdb_verifier.go
  test/e2e/testutil/verifier.go
Due: go-test

fix(cockroachdb): fix integration test failures for grants and user management
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/grant.go
  internal/adapter/cockroachdb/role.go
  internal/adapter/cockroachdb/user.go
Due: go-test

fix(test): add CockroachDB support to integration test suite
  internal/controller/integration_suite_test.go
  internal/controller/testutil/containers.go
Due: go-test

perf(e2e): spawn only required database per matrix job
  .github/workflows/ci.yml
  Makefile
Due: none

fix(e2e): export port environment variables to docker-compose
  Makefile
Due: none

ci(e2e): add CockroachDB to E2E test matrix
  .github/workflows/ci.yml
Due: none

fix(e2e): handle CockroachDB init container separately
  Makefile
Due: none

feat: update secret store
  api/v1alpha1/database_types.go
  api/v1alpha1/databasegrant_types.go
  api/v1alpha1/databaseinstance_types.go
  api/v1alpha1/databaserole_types.go
  api/v1alpha1/databaseuser_types.go
  api/v1alpha1/driftpolicy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/dbops.dbprovision.io_databasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_databaseinstances.yaml
  config/crd/bases/dbops.dbprovision.io_databaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databaseusers.yaml
  internal/adapter/cockroachdb/discovery.go
  internal/adapter/interface.go
  internal/adapter/mysql/discovery.go
  internal/adapter/postgres/discovery.go
  internal/adapter/types/types.go
  internal/controller/database_controller.go
  internal/controller/databaserole_controller.go
  internal/controller/databaseuser_controller.go
  internal/controller/discovery_controller.go
  internal/metrics/metrics.go
  internal/service/database.go
  internal/service/discovery/result.go
  internal/service/discovery/service.go
  internal/service/drift/database.go
  internal/service/drift/result.go
  internal/service/drift/role.go
  internal/service/drift/service.go
  internal/service/drift/user.go
  internal/service/instance.go
  internal/service/role.go
  internal/service/user.go
Due: go-test

feat: update secret store
  .github/workflows/ci.yml
  config/rbac/role.yaml
Due: none

feat: update secret store
  config/rbac/role.yaml
  internal/controller/database_controller.go
  internal/controller/database_controller_test.go
  internal/controller/database_controller_unit_test.go
  internal/controller/databasebackup_controller.go
  internal/controller/databasebackup_controller_test.go
  internal/controller/databasebackup_controller_unit_test.go
  internal/controller/databasebackupschedule_controller.go
  internal/controller/databasebackupschedule_controller_test.go
  internal/controller/databasegrant_controller.go
  internal/controller/databasegrant_controller_test.go
  internal/controller/databasegrant_controller_unit_test.go
  internal/controller/databaseinstance_controller.go
  internal/controller/databaseinstance_controller_test.go
  internal/controller/databaseinstance_controller_unit_test.go
  internal/controller/databaserestore_controller.go
  internal/controller/databaserestore_controller_test.go
  internal/controller/databaserole_controller.go
  internal/controller/databaserole_controller_test.go
  internal/controller/databaserole_controller_unit_test.go
  internal/controller/databaseuser_controller.go
  internal/controller/databaseuser_controller_test.go
  internal/controller/databaseuser_controller_unit_test.go
  internal/controller/discovery_controller.go
  internal/controller/integration_privileges_test.go
  internal/controller/integration_suite_test.go
  internal/controller/security_test.go
  internal/controller/suite_test.go
  internal/features/database/api.go
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/database/handler.go
  internal/features/database/handler_test.go
  internal/features/database/module.go
  internal/features/database/repository.go
  internal/features/database/testutil_test.go
  internal/metrics/metrics.go
Due: go-test

docs: update
  Makefile
  docs/api/config.yaml
  docs/api/index.md
  docs/api/reference.md
  docs/engines/cockroachdb.md
  docs/engines/index.md
  docs/examples/cockroachdb.md
  docs/examples/drift-detection.md
  docs/examples/index.md
  docs/operations/admin-account-setup.md
  docs/operations/events.md
  docs/operations/index.md
  docs/operations/troubleshooting.md
  docs/user-guide/deletion-protection.md
  docs/user-guide/drift-detection.md
  docs/user-guide/index.md
Due: none

docs: add navigation entries for new documentation
  docs/engines/.pages
  docs/examples/.pages
  docs/operations/.pages
  docs/user-guide/.pages
Due: none

fix(test): use pointer type for InstanceRef in validation tests
  api/v1alpha1/validation_test.go
Due: go-test

fix(test): fix remaining InstanceRef pointer types in validation tests
  api/v1alpha1/validation_test.go
Due: go-test

feat(test): add E2E gap coverage tests and fix lint issues
  api/v1alpha1/validation_test.go
  internal/features/backup/controller.go
  internal/features/backup/controller_test.go
  internal/features/backup/handler.go
  internal/features/backup/handler_test.go
  internal/features/backupschedule/controller_test.go
  internal/features/clustergrant/controller_test.go
  internal/features/clusterrole/controller_test.go
  internal/features/database/controller_test.go
  internal/features/grant/controller_test.go
  internal/features/instance/controller_test.go
  internal/features/restore/controller_test.go
  internal/features/role/controller_test.go
  internal/features/user/controller_test.go
  test/e2e/postgresql_test.go
  test/e2e/testutil/fixtures.go
  test/e2e/testutil/postgres_verifier.go
Due: go-test

fix(api): add MinLength=1 validation to all reference Name fields
  .pre-commit-config.yaml
  Makefile
  api/v1alpha1/common_types.go
  api/v1alpha1/validation_test.go
  config/crd/bases/dbops.dbprovision.io_clusterdatabasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_clusterdatabaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databasebackups.yaml
  config/crd/bases/dbops.dbprovision.io_databasebackupschedules.yaml
  config/crd/bases/dbops.dbprovision.io_databasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_databaserestores.yaml
  config/crd/bases/dbops.dbprovision.io_databaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databaseusers.yaml
Due: go-test

feat: update db
  test/e2e/e2e_suite_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(test): skip Error Recovery test in Docker Compose CI mode
  test/e2e/postgresql_test.go
Due: go-test

refactor: remove legacy in-cluster E2E mode and rewrite documentation
  Makefile
  config/crd/kustomization.yaml
  docs/development/ci-cd.md
  docs/development/e2e-testing.md
  docs/development/testing.md
  test/e2e/clusterdatabasegrant_test.go
  test/e2e/clusterdatabaseinstance_test.go
  test/e2e/clusterdatabaserole_test.go
  test/e2e/common_test.go
  test/e2e/fixtures/mariadb-local.yaml
  test/e2e/fixtures/mariadb.yaml
  test/e2e/fixtures/mysql.yaml
  test/e2e/fixtures/postgresql.yaml
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat(ci): adopt workflow_run release pipeline with OCI Helm distribution
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/development/ci-cd.md
Due: none

fix(rbac): add missing kubebuilder RBAC markers for 8 controllers
  api/v1alpha1/validation_test.go
  charts/db-provision-operator/templates/clusterrole.yaml
  config/rbac/clusterdatabaseinstance_manager_role.yaml
  config/rbac/clusterdatabaseinstance_manager_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  internal/features/clustergrant/controller.go
  internal/features/clusterinstance/controller.go
  internal/features/clusterrole/controller.go
  internal/features/database/controller.go
  internal/features/grant/controller.go
  internal/features/instance/controller.go
  internal/features/role/controller.go
  internal/features/user/controller.go
Due: go-test, helm-lint

fix(test): use configurable deletion timeout to fix flaky E2E waits
  .github/workflows/ci.yml
  test/e2e/clusterdatabaseinstance_test.go
  test/e2e/clusterdatabaserole_test.go
  test/e2e/common_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(api): remove omitempty from DeletionProtection to preserve false values
  api/v1alpha1/database_types.go
Due: go-test

fix(drift): use DriftPolicy.Interval for controller requeue instead of hardcoded 5m
  internal/features/clustergrant/controller.go
  internal/features/clusterrole/controller.go
  internal/features/database/controller.go
  internal/features/grant/controller.go
  internal/features/role/controller.go
  internal/features/role/controller_test.go
  internal/features/user/controller.go
  internal/util/drift.go
  internal/util/drift_test.go
Due: go-test

fix(drift): correct only drifted role attributes to avoid SUPERUSER requirement
  internal/service/drift/role.go
Due: go-test

feat: add and improve unit and integration tests
  internal/adapter/postgres/drift_integration_test.go
  internal/features/clustergrant/controller_test.go
  internal/features/clustergrant/handler_test.go
  internal/features/clusterrole/controller_test.go
  internal/features/clusterrole/handler_test.go
  internal/features/grant/controller_test.go
  internal/features/grant/handler_test.go
  internal/features/user/controller_test.go
  internal/features/user/handler_test.go
  internal/service/drift/database_test.go
  internal/service/drift/grant_test.go
  internal/service/drift/result_test.go
  internal/service/drift/role_test.go
  internal/service/drift/user_test.go
Due: go-test

feat(test): add comprehensive E2E drift detection and correction tests
  test/e2e/drift_clustergrant_test.go
  test/e2e/drift_clusterrole_test.go
  test/e2e/drift_database_test.go
  test/e2e/drift_grant_test.go
  test/e2e/drift_helpers_test.go
  test/e2e/drift_role_test.go
  test/e2e/drift_user_test.go
  test/e2e/postgresql_test.go
  test/e2e/testutil/fixtures.go
  test/e2e/testutil/postgres_verifier.go
Due: go-test

docs: convert ASCII art diagrams to Mermaid for better rendering
  docs/architecture/index.md
  docs/architecture/overview.md
  docs/architecture/security.md
  docs/development/ci-cd.md
  docs/development/e2e-testing.md
  docs/development/rbac.md
  docs/getting-started/index.md
Due: none

fix(postgres): always terminate connections before DROP DATABASE
  internal/adapter/postgres/database.go
  internal/adapter/postgres/database_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat: add ordered cascade deletion with dependency checking
  CLAUDE.md
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/instance/controller.go
  internal/features/instance/controller_test.go
  internal/features/role/controller.go
  internal/features/role/controller_test.go
  internal/features/user/controller.go
  internal/features/user/controller_test.go
  internal/util/conditions.go
Due: go-test

fix(test): use level-by-level deletion in E2E cleanup for cascade deletion
  test/e2e/clusterdatabaseinstance_test.go
  test/e2e/cockroachdb_test.go
  test/e2e/common_test.go
  test/e2e/drift_database_test.go
  test/e2e/drift_grant_test.go
  test/e2e/drift_role_test.go
  test/e2e/drift_user_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(grant): make revocation idempotent during deletion and fix E2E cleanup
  internal/features/clustergrant/controller.go
  internal/features/clustergrant/repository.go
  internal/features/grant/controller.go
  internal/features/grant/controller_test.go
  internal/features/grant/repository.go
  test/e2e/cockroachdb_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(test): add force-delete annotation to E2E cleanup for deletion-protected databases
  test/e2e/clusterdatabaseinstance_test.go
  test/e2e/cockroachdb_test.go
  test/e2e/common_test.go
  test/e2e/drift_database_test.go
  test/e2e/drift_grant_test.go
  test/e2e/drift_role_test.go
  test/e2e/drift_user_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(test): correct getResourcePhase calls in multi-operator E2E tests
  test/e2e/multi_operator_test.go
Due: go-test

fix(ci): use correct operator image for second operator in multi-instance E2E
  .github/workflows/ci.yml
  Makefile
Due: none

feat: fix e2e multi operator support
  test/e2e/multi_operator_test.go
Due: go-test

Path conditions:
  go-test: any of: \.go$
  helm-lint: any of: ^charts/
