Repository panteparak/db-provision-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, helm-lint

go-test:
  name: go test
  entry: bash -c 'go test $(go list ./... | grep -v /e2e) -short'
  language: system
  pass_filenames: false

helm-lint:
  name: helm lint
  entry: helm lint charts/db-provision-operator
  language: system
  pass_filenames: false

chore: bump chart version to 0.3.0 for release
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

feat: sql builder and migrations
  api/v1alpha1/mysql_types.go
  api/v1alpha1/postgres_types.go
  config/crd/bases/dbops.dbprovision.io_clusterdatabasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_clusterdatabaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_databaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/grant.go
  internal/adapter/cockroachdb/role.go
  internal/adapter/cockroachdb/user.go
  internal/adapter/mysql/adapter.go
  internal/adapter/mysql/database.go
  internal/adapter/mysql/database_test.go
  internal/adapter/mysql/grant.go
  internal/adapter/mysql/grant_test.go
  internal/adapter/mysql/role.go
  internal/adapter/mysql/role_test.go
  internal/adapter/mysql/user.go
  internal/adapter/postgres/database.go
  internal/adapter/postgres/grant.go
  internal/adapter/postgres/role.go
  internal/adapter/postgres/user.go
  internal/adapter/sqlbuilder/builder_test.go
  internal/adapter/sqlbuilder/database.go
  internal/adapter/sqlbuilder/dialect.go
  internal/adapter/sqlbuilder/grant.go
  internal/adapter/sqlbuilder/privilege.go
  internal/adapter/sqlbuilder/role.go
Due: go-test

test: add comprehensive sqlbuilder test suite
  internal/adapter/sqlbuilder/bench_test.go
  internal/adapter/sqlbuilder/concurrency_test.go
  internal/adapter/sqlbuilder/database_role_builder_test.go
  internal/adapter/sqlbuilder/fuzz_test.go
  internal/adapter/sqlbuilder/grant_builder_test.go
  internal/adapter/sqlbuilder/injection_test.go
Due: go-test

chore: bump chart version to 0.4.0 for release
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

fix(ci): grant contents write permission to docker-merge for SBOM release attachment
  .github/workflows/ci.yml
Due: none

fix(ci): update trivy-action from 0.28.0 to 0.34.2
  .github/workflows/ci.yml
Due: none

fix: add missing cluster-scoped CRDs to Helm chart and sync via manifests target
  Makefile
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabasegrants.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabaseinstances.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabaseroles.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databasebackups.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databasebackupschedules.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaserestores.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseroles.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseusers.yaml
Due: helm-lint

fix(e2e): resolve 409 conflict and cleanup timeout in deletion protection tests
  internal/features/database/controller.go
  internal/features/instance/controller.go
  internal/features/role/controller.go
  internal/features/user/controller.go
  test/e2e/postgresql_test.go
Due: go-test

feat(ci): replace Chart.yaml validation with commitizen auto-bump
  .cz.toml
  .github/workflows/release.yml
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

feat: update readme
  README.md
Due: none

refactor(service): extract ResourceService base and ProvisionPipeline
  internal/service/backup.go
  internal/service/database.go
  internal/service/grant.go
  internal/service/instance.go
  internal/service/provision.go
  internal/service/provision_test.go
  internal/service/resource_service.go
  internal/service/restore.go
  internal/service/role.go
  internal/service/user.go
Due: go-test

refactor(controller): extract drift detection orchestrator
  internal/controller/drift/orchestrator.go
  internal/controller/drift/orchestrator_test.go
  internal/features/clustergrant/controller.go
  internal/features/clustergrant/drift_adapter.go
  internal/features/clusterrole/controller.go
  internal/features/clusterrole/drift_adapter.go
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/database/drift_adapter.go
  internal/features/grant/controller.go
  internal/features/grant/drift_adapter.go
  internal/features/role/controller.go
  internal/features/role/drift_adapter.go
  internal/features/user/controller.go
  internal/features/user/drift_adapter.go
Due: go-test

feat(database): add per-database role and ownership management
  api/v1alpha1/postgres_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  internal/adapter/cockroachdb/database.go
  internal/adapter/mysql/database.go
  internal/adapter/postgres/database.go
  internal/adapter/sqlbuilder/builder_test.go
  internal/adapter/sqlbuilder/database.go
  internal/adapter/types/types.go
  internal/features/database/api.go
  internal/features/database/controller.go
  internal/features/database/handler.go
  internal/features/database/repository.go
  internal/service/database.go
  internal/service/drift/database.go
  internal/service/drift/database_test.go
  internal/service/ownership.go
  internal/service/ownership_test.go
  internal/service/testutil/mock_adapter.go
Due: go-test, helm-lint

chore: bump version 0.4.1 → 0.5.0
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

fix(release): add mkdocs.yml to commitizen version_files
  .cz.toml
  mkdocs.yml
Due: none

fix(ci): harden GitHub Actions workflows per zizmor audit
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix(ci): use shell env vars instead of template expressions in run blocks
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test(clickhouse): add unit tests for adapter, sqlbuilder, and spec builder
  internal/adapter/clickhouse/adapter_test.go
  internal/adapter/clickhouse/backup_test.go
  internal/adapter/clickhouse/database_test.go
  internal/adapter/clickhouse/grant_test.go
  internal/adapter/clickhouse/role_test.go
  internal/adapter/clickhouse/suite_test.go
  internal/adapter/clickhouse/user_test.go
  internal/adapter/sqlbuilder/builder_test.go
  internal/service/spec_builder_test.go
Due: go-test

ci(clickhouse): add ClickHouse to CI matrix and e2e docker-compose
  .github/workflows/ci.yml
  docker-compose.e2e.yml
  test/e2e/fixtures/clickhouse-init/01-setup.sql
Due: none

test(clickhouse): add e2e tests with verifier, fixtures, and Makefile target
  Makefile
  test/e2e/clickhouse_test.go
  test/e2e/common_test.go
  test/e2e/fixtures/clickhouse-local.yaml
  test/e2e/testutil/clickhouse_verifier.go
  test/e2e/testutil/fixtures.go
  test/e2e/testutil/verifier.go
Due: go-test

fix(ci): break transitive skip propagation for PR e2e tests
  .github/workflows/ci.yml
Due: none

fix(clickhouse): grant default user full privileges for e2e init script
  docker-compose.e2e.yml
  test/e2e/fixtures/clickhouse-config/grant-default.xml
Due: none

fix(clickhouse): remove conflicting user/password env vars from e2e compose
  docker-compose.e2e.yml
Due: none

fix(clickhouse): increase e2e healthcheck retries and start period
  docker-compose.e2e.yml
Due: none

feat(secret): add secret template rendering with custom FuncMap and mTLS support
  api/v1alpha1/common_types.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseusers.yaml
  config/crd/bases/dbops.dbprovision.io_databaseusers.yaml
  docs/architecture/security.md
  docs/examples/advanced.md
  docs/user-guide/database-instances.md
  docs/user-guide/users.md
  internal/features/user/controller.go
  internal/features/user/controller_test.go
  internal/secret/funcmap.go
  internal/secret/funcmap_test.go
  internal/secret/manager.go
  internal/secret/manager_test.go
  test/e2e/postgresql_test.go
  test/e2e/testutil/assertions.go
Due: go-test, helm-lint

chore: bump version 0.5.0 → 0.6.0
  .cz.toml
  charts/db-provision-operator/Chart.yaml
  mkdocs.yml
Due: helm-lint

fix(release): replace workflow_run trigger with tag-push and CI polling
  .cz.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(handler): resolve nil pointer when using clusterInstanceRef in user/role handlers
  internal/features/role/controller_test.go
  internal/features/role/handler.go
  internal/features/user/controller.go
  internal/features/user/controller_test.go
  internal/features/user/handler.go
Due: go-test

chore(release): bump version 0.6.0 → 0.6.1
  .cz.toml
  charts/db-provision-operator/Chart.yaml
  mkdocs.yml
Due: helm-lint

test(crd): add envtest validation for instanceRef/clusterInstanceRef combinations
  api/v1alpha1/validation_test.go
Due: go-test

fix(e2e): resolve ClickHouse E2E test failures and harden test infrastructure
  docker-compose.e2e.yml
  internal/features/user/controller.go
  internal/features/user/handler.go
  test/e2e/common_test.go
  test/e2e/fixtures/clickhouse-config/default-grants.xml
  test/e2e/fixtures/clickhouse-local.yaml
  test/e2e/testutil/clickhouse_verifier.go
Due: go-test

chore(release): bump version 0.6.1 → 0.7.0
  .cz.toml
  charts/db-provision-operator/Chart.yaml
  mkdocs.yml
Due: helm-lint

feat(user): add SecretRegenerated event and auto-recovery tests
  docs/user-guide/users.md
  internal/features/user/controller.go
  internal/features/user/controller_test.go
Due: go-test

fix(user): store managed password in annotation instead of Secret Data
  internal/features/user/controller.go
  internal/features/user/controller_test.go
Due: go-test

chore(release): bump version 0.7.0 → 0.8.0
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

feat(api): add DeletionConfirmation type and PhasePendingDeletion
  api/v1alpha1/common_types.go
  api/v1alpha1/database_types.go
  api/v1alpha1/databaseinstance_types.go
  api/v1alpha1/databaserole_types.go
  api/v1alpha1/databaseuser_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/util/conditions.go
  internal/util/deletion_confirmation.go
  internal/util/deletion_confirmation_test.go
Due: go-test

chore(manifests): regenerate CRDs with deletionConfirmation status field
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabaseinstances.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseinstances.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseroles.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseusers.yaml
  config/crd/bases/dbops.dbprovision.io_clusterdatabaseinstances.yaml
  config/crd/bases/dbops.dbprovision.io_databaseinstances.yaml
  config/crd/bases/dbops.dbprovision.io_databaseroles.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databaseusers.yaml
Due: helm-lint

feat(controllers): implement force-delete cascade confirmation flow
  internal/features/clusterinstance/controller.go
  internal/features/clusterinstance/controller_test.go
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/instance/controller.go
  internal/features/instance/controller_test.go
  internal/features/role/controller.go
  internal/features/role/controller_test.go
  internal/features/user/controller.go
  internal/features/user/controller_test.go
Due: go-test

Path conditions:
  go-test: any of: \.go$
  helm-lint: any of: ^charts/
