Repository panteparak/db-provision-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, helm-lint

go-test:
  name: go test
  entry: bash -c 'go test $(go list ./... | grep -v /e2e) -short'
  language: system
  pass_filenames: false

helm-lint:
  name: helm lint
  entry: helm lint charts/db-provision-operator
  language: system
  pass_filenames: false

feat: update with integration tests
  .github/workflows/ci.yml
  Makefile
  internal/controller/database_controller_test.go
  internal/controller/databasebackup_controller_test.go
  internal/controller/databasebackupschedule_controller_test.go
  internal/controller/databasegrant_controller_test.go
  internal/controller/databaseinstance_controller_test.go
  internal/controller/databaserestore_controller_test.go
  internal/controller/databaserole_controller_test.go
  internal/controller/databaseuser_controller_test.go
  internal/controller/integration_suite_test.go
  internal/controller/suite_test.go
Due: go-test

fix(docs): use uppercase DOCS/ path for case-sensitive filesystems
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  mkdocs.yml
Due: none

fix(ci): ensure Helm charts persist after docs deployment
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

perf(ci): promote existing image instead of rebuilding on release
  .github/workflows/release.yml
Due: none

docs: restructure for auto-generated navigation
  .github/workflows/docs.yml
  .github/workflows/release.yml
  DOCS/.pages
  DOCS/CI_CD.md
  DOCS/DESIGN_DECISIONS.md
  DOCS/E2E_TESTING.md
  DOCS/PHASE1_IMPLEMENTATION.md
  DOCS/PROJECT_OVERVIEW.md
  DOCS/api/.pages
  DOCS/architecture/.pages
  DOCS/architecture/overview.md
  DOCS/development/.pages
  DOCS/development/rbac.md
  DOCS/development/roadmap.md
  DOCS/engines/.pages
  DOCS/examples/.pages
  DOCS/getting-started/.pages
  DOCS/operations/.pages
  DOCS/requirements.txt
  DOCS/user-guide/.pages
  Makefile
  mkdocs.yml
Due: none

ci(docs): deploy only on release or hotfix branches
  .github/workflows/docs.yml
Due: none

ci: integrate docs validation into main CI workflow
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

ci: run integration tests after gate stage
  .github/workflows/ci.yml
Due: none

feat: run test
  .github/workflows/ci.yml
  Makefile
  api/v1alpha1/common_types.go
  config/crd/bases/dbops.dbprovision.io_databaseinstances.yaml
  go.mod
  go.sum
  internal/adapter/factory.go
  internal/controller/integration_suite_test.go
  internal/controller/security_test.go
  internal/controller/testutil/containers.go
  internal/controller/testutil/profiler.go
  internal/controller/testutil/report.go
  internal/service/types.go
  internal/service/types_test.go
Due: go-test

feat: run test
  .gitignore
  internal/controller/integration_suite_test.go
  internal/controller/security_test.go
Due: go-test

feat: run test
  internal/controller/integration_suite_test.go
  internal/controller/security_test.go
Due: go-test

feat: run test
  internal/controller/security_test.go
Due: go-test

fix(test): use root user for MySQL/MariaDB integration tests
  internal/controller/integration_suite_test.go
Due: go-test

fix(api): add mariadb to DatabaseInstance engine enum
  api/v1alpha1/databaseinstance_types.go
  config/crd/bases/dbops.dbprovision.io_databaseinstances.yaml
Due: go-test

fix(helm): remove duplicate control-plane label from podLabels
  charts/db-provision-operator/values.yaml
Due: helm-lint

ci(helm): add strict YAML validation for duplicate keys
  .github/workflows/ci.yml
Due: none

feat: add least permission test
  docs/engines/mariadb.md
  docs/engines/mysql.md
  docs/engines/postgresql.md
  docs/operations/.pages
  docs/operations/admin-account-setup.md
  docs/operations/index.md
  internal/controller/integration_privileges_test.go
  internal/controller/integration_suite_test.go
  internal/controller/testutil/containers.go
  test/e2e/fixtures/mariadb.yaml
  test/e2e/fixtures/mysql.yaml
  test/e2e/fixtures/postgresql.yaml
Due: go-test

feat: add least permission test
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat: fix ci
  .github/workflows/ci.yml
Due: none

feat: add monitoring docs and e2e
  docs/engines/mariadb.md
  docs/engines/mysql.md
  docs/engines/postgresql.md
  docs/operations/monitoring.md
  internal/adapter/mysql/privilege_test.go
  internal/adapter/postgres/privilege_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

chore(release): bump version to v0.1.6
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

fix(test): add QueryRow method to verifiers and remove CI tag trigger
  .github/workflows/ci.yml
  test/e2e/testutil/mysql_verifier.go
  test/e2e/testutil/postgres_verifier.go
Due: go-test

chore(release): bump version to v0.1.7
  charts/db-provision-operator/Chart.yaml
Due: helm-lint

fix(test): resolve e2e test failures for privilege verification
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat: add template comparison
  .github/workflows/ci.yml
  Makefile
  go.mod
  test/template/template_comparison_test.go
Due: go-test

feat: refactoring test
  .github/workflows/ci.yml
  Makefile
  api/v1alpha1/validation_test.go
  internal/adapter/mysql/integration_test.go
  internal/adapter/postgres/integration_test.go
  internal/controller/database_controller_test.go
  internal/controller/database_controller_unit_test.go
  internal/controller/databasebackup_controller_test.go
  internal/controller/databasebackupschedule_controller_test.go
  internal/controller/databasegrant_controller_test.go
  internal/controller/databaseinstance_controller_test.go
  internal/controller/databaseinstance_controller_unit_test.go
  internal/controller/databaserestore_controller_test.go
  internal/controller/databaserole_controller_test.go
  internal/controller/databaseuser_controller_test.go
  internal/controller/databaseuser_controller_unit_test.go
  internal/controller/suite_test.go
  internal/controller/testutil/containers.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat: fix attr
  Makefile
  api/v1alpha1/validation_test.go
  internal/adapter/mysql/integration_test.go
  internal/adapter/postgres/integration_test.go
Due: go-test

feat: update code
  .github/workflows/ci.yml
  go.mod
  go.sum
  internal/adapter/cockroachdb/adapter.go
  internal/adapter/cockroachdb/adapter_test.go
  internal/adapter/cockroachdb/backup.go
  internal/adapter/cockroachdb/backup_test.go
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/database_test.go
  internal/adapter/cockroachdb/grant.go
  internal/adapter/cockroachdb/grant_test.go
  internal/adapter/cockroachdb/integration_test.go
  internal/adapter/cockroachdb/restore.go
  internal/adapter/cockroachdb/restore_test.go
  internal/adapter/cockroachdb/role.go
  internal/adapter/cockroachdb/role_test.go
  internal/adapter/cockroachdb/suite_test.go
  internal/adapter/cockroachdb/testutil/fixtures.go
  internal/adapter/cockroachdb/testutil/mock.go
  internal/adapter/cockroachdb/user.go
  internal/adapter/cockroachdb/user_test.go
  internal/adapter/factory.go
  internal/controller/testutil/containers.go
Due: go-test

feat(logging): add reconcile ID correlation to all log lines
  internal/controller/database_controller.go
  internal/controller/databasebackup_controller.go
  internal/controller/databasebackupschedule_controller.go
  internal/controller/databasegrant_controller.go
  internal/controller/databaseinstance_controller.go
  internal/controller/databaserestore_controller.go
  internal/controller/databaserole_controller.go
  internal/controller/databaseuser_controller.go
  internal/features/backup/controller.go
  internal/features/backup/handler.go
  internal/features/backup/repository.go
  internal/features/backupschedule/controller.go
  internal/features/backupschedule/handler.go
  internal/features/backupschedule/repository.go
  internal/features/database/controller.go
  internal/features/database/handler.go
  internal/features/database/repository.go
  internal/features/grant/controller.go
  internal/features/grant/handler.go
  internal/features/grant/repository.go
  internal/features/instance/controller.go
  internal/features/instance/handler.go
  internal/features/instance/repository.go
  internal/features/restore/controller.go
  internal/features/restore/handler.go
  internal/features/role/controller.go
  internal/features/role/handler.go
  internal/features/role/repository.go
  internal/features/user/controller.go
  internal/features/user/handler.go
  internal/features/user/repository.go
  internal/logging/controller.go
  internal/logging/reconcileid.go
  internal/logging/reconcileid_test.go
  internal/logging/suite_test.go
Due: go-test

fix(ci): filter integration tests by INTEGRATION_TEST_DATABASE
  Makefile
Due: none

feat: update code
  .github/workflows/ci.yml
Due: none

feat: update secret store
  Makefile
  config/manager/kustomization.yaml
  internal/service/spec_builder.go
  internal/service/spec_builder_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

feat(e2e): add docker-compose for local e2e databases
  docker-compose.e2e.yml
  test/e2e/fixtures/mariadb-init/01-create-admin.sql
  test/e2e/fixtures/mysql-init/01-create-admin.sql
  test/e2e/fixtures/postgres-init/01-create-admin.sql
Due: none

feat(e2e): add local DatabaseInstance fixtures for host.k3d.internal
  test/e2e/fixtures/mariadb-local.yaml
  test/e2e/fixtures/mysql-local.yaml
  test/e2e/fixtures/postgresql-local.yaml
Due: none

feat(e2e): add makefile targets for local e2e testing
  Makefile
Due: none

refactor(ci): use makefile targets for e2e consistency
  .github/workflows/ci.yml
Due: none

docs: add local e2e testing guide
  docs/development/.pages
  docs/development/e2e-testing.md
Due: none

fix(service): add MariaDB support to grant service Apply/Revoke methods
  internal/service/grant.go
Due: go-test

Path conditions:
  go-test: any of: \.go$
  helm-lint: any of: ^charts/
