Repository panteparak/db-provision-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, helm-lint

go-test:
  name: go test
  entry: bash -c 'go test $(go list ./... | grep -v /e2e) -short'
  language: system
  pass_filenames: false

helm-lint:
  name: helm lint
  entry: helm lint charts/db-provision-operator
  language: system
  pass_filenames: false

docs: update CLAUDE.md with cascade confirmation flow
  CLAUDE.md
Due: none

feat(ci): enable multiplatform Docker builds with native ARM64 runners
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): run security scans on native runners for ARM64 support
  .github/workflows/ci.yml
Due: none

docs: update documentation for v0.9.0 release
  docs/examples/advanced.md
  docs/getting-started/quickstart.md
  docs/user-guide/databases.md
  docs/user-guide/deletion-protection.md
  docs/user-guide/users.md
  mkdocs.yml
Due: none

feat(database): implement InitSQL feature with E2E tests
  api/v1alpha1/common_types.go
  api/v1alpha1/database_types.go
  api/v1alpha1/init_sql_types.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  config/rbac/role.yaml
  internal/adapter/clickhouse/database.go
  internal/adapter/cockroachdb/database.go
  internal/adapter/mysql/database.go
  internal/adapter/postgres/database.go
  internal/adapter/types/types.go
  internal/features/database/api.go
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/database/handler.go
  internal/features/database/repository.go
  internal/features/database/testutil_test.go
  internal/metrics/metrics.go
  internal/secret/manager.go
  internal/service/database.go
  internal/service/testutil/mock_adapter.go
  internal/shared/eventbus/events.go
  internal/util/conditions.go
  test/e2e/initsql_test.go
  test/e2e/testutil/fixtures.go
Due: go-test, helm-lint

fix(codegen): regenerate deepcopy for InitSQL types
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-test

ci: add verify-codegen pre-commit hook to catch stale generated files
  .pre-commit-config.yaml
Due: none

docs: add InitSQL documentation for v0.10.0
  docs/examples/postgresql.md
  docs/user-guide/databases.md
  mkdocs.yml
Due: none

fix(database): prevent InitSQL re-execution on re-reconciliation when hash matches
  internal/features/database/controller_test.go
  internal/features/database/handler.go
Due: go-test

fix(ci): add always() to docs-release job to prevent skipping
  .github/workflows/release.yml
Due: none

docs: comprehensive documentation audit covering ClickHouse, cluster-scoped CRDs, and architecture updates
  docs/api/index.md
  docs/architecture/index.md
  docs/architecture/overview.md
  docs/development/roadmap.md
  docs/engines/.pages
  docs/engines/clickhouse.md
  docs/engines/index.md
  docs/index.md
  docs/operations/events.md
  docs/operations/monitoring.md
  docs/operations/troubleshooting.md
  docs/user-guide/database-instances.md
  docs/user-guide/databases.md
  docs/user-guide/deletion-protection.md
  docs/user-guide/grants.md
  docs/user-guide/index.md
  docs/user-guide/roles.md
  docs/user-guide/users.md
Due: none

fix(e2e): remove flaky time.Sleep before Eventually/Consistently polls
  test/e2e/clusterdatabasegrant_test.go
  test/e2e/clusterdatabaserole_test.go
  test/e2e/initsql_test.go
Due: go-test

refactor(util): add RetryableError interface to IsRetryableError
  internal/util/retry.go
  internal/util/retry_test.go
Due: go-test

test: add tests for instanceresolver, service layer, spec builders, and ClickHouse
  internal/adapter/clickhouse/integration_test.go
  internal/service/backup_test.go
  internal/service/instance_test.go
  internal/service/restore_test.go
  internal/service/spec_builder_mysql_test.go
  internal/service/spec_builder_postgres_test.go
  internal/shared/instanceresolver/resolver_test.go
Due: go-test

test: add t.Parallel() to all controller tests and ObservedGeneration edge cases
  internal/features/backup/controller_test.go
  internal/features/backupschedule/controller_test.go
  internal/features/clustergrant/controller_test.go
  internal/features/clusterinstance/controller_test.go
  internal/features/clusterrole/controller_test.go
  internal/features/database/controller_test.go
  internal/features/grant/controller_test.go
  internal/features/instance/controller_test.go
  internal/features/restore/controller_test.go
  internal/features/role/controller_test.go
  internal/features/user/controller_test.go
Due: go-test

fix(test): use ForListeningPort for ClickHouse container readiness
  internal/adapter/clickhouse/integration_test.go
Due: go-test

feat(api): default deletionProtection to true and initSQL failurePolicy to Block
  api/v1alpha1/clusterdatabasegrant_types.go
  api/v1alpha1/databasebackupschedule_types.go
  api/v1alpha1/databasegrant_types.go
  api/v1alpha1/databaseinstance_types.go
  api/v1alpha1/init_sql_types.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabasegrants.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_clusterdatabaseinstances.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databasebackupschedules.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databasegrants.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databaseinstances.yaml
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_clusterdatabasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_clusterdatabaseinstances.yaml
  config/crd/bases/dbops.dbprovision.io_databasebackupschedules.yaml
  config/crd/bases/dbops.dbprovision.io_databasegrants.yaml
  config/crd/bases/dbops.dbprovision.io_databaseinstances.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
Due: go-test, helm-lint

feat(adapter): execute initSQL as database owner via SET ROLE
  docs/user-guide/databases.md
  internal/adapter/clickhouse/database.go
  internal/adapter/cockroachdb/database.go
  internal/adapter/mysql/database.go
  internal/adapter/postgres/database.go
  internal/adapter/types/types.go
  internal/features/database/repository.go
  internal/service/database.go
  internal/service/testutil/mock_adapter.go
Due: go-test

feat(api)!: change default deletionPolicy from Retain to Delete
  api/v1alpha1/database_types.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  docs/user-guide/databases.md
  docs/user-guide/deletion-protection.md
  internal/controller/testutil/fixtures.go
  internal/features/clusterrole/controller.go
  internal/features/database/controller.go
  internal/features/database/controller_test.go
  internal/features/role/controller.go
  internal/features/user/controller.go
  internal/features/user/controller_test.go
Due: go-test, helm-lint

fix(ci): add clickhouse mapping to Makefile get-adapter-path
  Makefile
  internal/features/user/controller_test.go
Due: go-test

fix(test): add force-delete annotations for grants and instances in E2E cleanup
  test/e2e/clickhouse_test.go
  test/e2e/cockroachdb_test.go
  test/e2e/common_test.go
  test/e2e/drift_database_test.go
  test/e2e/drift_grant_test.go
  test/e2e/drift_role_test.go
  test/e2e/drift_user_test.go
  test/e2e/initsql_test.go
  test/e2e/mariadb_test.go
  test/e2e/mysql_test.go
  test/e2e/postgresql_test.go
Due: go-test

fix(controller): add GenerationChangedPredicate to prevent reconcile loop
  internal/logging/controller.go
  test/e2e/drift_helpers_test.go
  test/e2e/reconcile_stability_test.go
Due: go-test

fix(test): add explicit driftPolicy to ClickHouse drift correction test
  test/e2e/clickhouse_test.go
Due: go-test

feat(helm): add revisionHistoryLimit to deployment spec
  charts/db-provision-operator/templates/deployment.yaml
  charts/db-provision-operator/values.yaml
  config/manager/manager.yaml
Due: helm-lint

fix(controller): add events RBAC and return nil error from ClassifyRequeue
  charts/db-provision-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  internal/features/backup/controller_test.go
  internal/features/clustergrant/controller_test.go
  internal/features/clusterrole/controller_test.go
  internal/features/database/controller_test.go
  internal/features/grant/controller_test.go
  internal/features/instance/controller.go
  internal/features/instance/controller_test.go
  internal/features/role/controller_test.go
  internal/features/user/controller_test.go
  internal/reconcileutil/requeue.go
  internal/reconcileutil/requeue_test.go
Due: go-test, helm-lint

feat(rotation): implement bidirectional default privileges and password rotation
  CLAUDE.md
  api/v1alpha1/postgres_types.go
  charts/db-provision-operator/crds/dbops.dbprovision.io_databases.yaml
  config/crd/bases/dbops.dbprovision.io_databases.yaml
  docs/architecture/design.md
  docs/user-guide/databases.md
  docs/user-guide/users.md
  internal/adapter/clickhouse/user.go
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/user.go
  internal/adapter/mysql/user.go
  internal/adapter/postgres/database.go
  internal/adapter/postgres/user.go
  internal/adapter/types/types.go
  internal/features/user/api.go
  internal/features/user/controller.go
  internal/features/user/controller_test.go
  internal/features/user/handler.go
  internal/features/user/handler_test.go
  internal/features/user/repository.go
  internal/features/user/testutil_test.go
  internal/service/ownership.go
  internal/service/ownership_test.go
  internal/service/spec_builder_postgres.go
  internal/service/testutil/mock_adapter.go
  internal/service/user.go
Due: go-test, helm-lint

feat(dbctl): add ownership integrity checks and drift events to migrate reverse-privileges
  Dockerfile
  cmd/dbctl/cmd/migrate.go
  cmd/dbctl/cmd/migrate_reverse_privileges.go
  cmd/dbctl/cmd/migrate_reverse_privileges_test.go
  cmd/dbctl/cmd/root.go
Due: go-test

docs(operations): add migrations page for dbctl migrate reverse-privileges
  docs/operations/.pages
  docs/operations/events.md
  docs/operations/index.md
  docs/operations/migrations.md
  docs/user-guide/drift-detection.md
Due: none

docs(drift): document destructive vs non-destructive corrections for migrations
  docs/operations/migrations.md
  docs/user-guide/drift-detection.md
Due: none

chore(release): bump version to 0.14.0
  charts/db-provision-operator/Chart.yaml
  mkdocs.yml
Due: helm-lint

refactor(adapter): extract atomic operations for service-level orchestration
  internal/adapter/clickhouse/adapter_test.go
  internal/adapter/clickhouse/database.go
  internal/adapter/clickhouse/grant.go
  internal/adapter/clickhouse/user.go
  internal/adapter/cockroachdb/database.go
  internal/adapter/cockroachdb/grant.go
  internal/adapter/cockroachdb/role.go
  internal/adapter/cockroachdb/role_test.go
  internal/adapter/cockroachdb/testutil/mock.go
  internal/adapter/cockroachdb/user.go
  internal/adapter/cockroachdb/user_test.go
  internal/adapter/mysql/database.go
  internal/adapter/mysql/database_test.go
  internal/adapter/mysql/grant.go
  internal/adapter/mysql/grant_test.go
  internal/adapter/mysql/testutil/mock.go
  internal/adapter/mysql/user.go
  internal/adapter/postgres/database.go
  internal/adapter/postgres/database_test.go
  internal/adapter/postgres/grant.go
  internal/adapter/postgres/role.go
  internal/adapter/postgres/role_test.go
  internal/adapter/postgres/testutil/mock.go
  internal/adapter/postgres/user.go
  internal/adapter/postgres/user_test.go
  internal/adapter/types/types.go
  internal/service/testutil/mock_adapter.go
Due: go-test

feat(service): orchestrate cleanup flows at service layer
  internal/service/database.go
  internal/service/database_test.go
  internal/service/grant.go
  internal/service/grant_test.go
  internal/service/log.go
  internal/service/role.go
  internal/service/role_test.go
  internal/service/user.go
  internal/service/user_test.go
Due: go-test

docs(operations): document connection termination behavior during database deletion
  docs/operations/troubleshooting.md
  docs/user-guide/databases.md
Due: none

fix(test): update CockroachDB SafeDropPattern to use atomic adapter methods
  internal/adapter/cockroachdb/integration_test.go
Due: go-test

Path conditions:
  go-test: any of: \.go$
  helm-lint: any of: ^charts/
